.nav-top {
  background-color: $green;
  color: $white;
  font-size: 1.5rem;
  padding: 10px;
  z-index: 2;

  & .nav-top__item {
    color: $white;
    margin: 0 0 0 25px;
    & .nav-top__icon {
      margin-right: 5px;
    }
    &:last-of-type {
      margin: 0 0 0 15px;
    }
  }
}

.nav-container {
  width: 100%;
  z-index: 2;

  &.nav-container--black {
    background-color: $black;
  }

  .nav {
    padding: 1rem 0;
    z-index: 2;
    & .nav__list {
      display: flex;
      font-size: 1.5rem;
      margin: 0;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      padding: 0;
      font-weight: $bold-font;
    }

    & .nav__item {
      padding: 0 10px;
      text-transform: uppercase;
    }

    & .nav__link {
      color: $white;
      &.active,
      &:hover {
        color: $green;
        border-bottom: solid $green 2px;
        text-decoration: none;
      }
    }
  }
}
