// COLORES
$green: #23a455;
$light-grey: #eaeaea;
$grey: #808080;
$light-black: #141414;
$black: #080808;
$white: #ffffff;
// TIPOGRAFIA
$primary-font: "Karla", sans-serif;
// Secondary-Font
$secondary-font: "Montserrat", sans-serif;

$thin-font: 200;
$regular-font: 400;
$semibold-font: 500;
$bold-font: 600;
$heavy-font: 700;

// BREAKPOINS
$s: 0;
$m: 640px;
$sl: 700px;
$l: 1024px;
$lg: 1200px;
$xl: 1440px;
