.title {
  position: relative;
  padding: 0 0 1.5rem 0;
  margin: 0 0 3rem 0;
  &::before {
    content: "";
    width: 10%;
    height: 3px;
    position: absolute;
    background-color: $green;
    bottom: 0;
  }
}
